
@media screen and (min-width: 800px) {
  body {
    max-width: 800px;
	margin: auto;
  }
  
  .footer-width {
	  max-width: 800px;
  }
}


.footer {
   position:absolute;
   bottom:0;
   height:50px;
   width: 95%;
}

.next-button {
	float: right;
    margin-right: 10px;
    border-radius: 5px;
    border-style: hidden;
    background-color: mediumaquamarine;
}

.button-text {
	font-size: 20px;
    vertical-align: super;
    font-family: cursive;
    color: royalblue;
}